@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600&display=swap');

:root {
  --color-dark-brown:#492104;
  --color-light-brown: #693007;
  --color-bg: #7f76ce;
  --color-big-circle: #000;
  --color-small-circle: #4ea53f;
  --color-head: #fdd5b4;
  --color-dress: white;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  margin: auto;
  top: 0;
  bottom:  0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container {
  width: 70rem;
  height: 50rem;
  background: var(--color-bg);
  position: fixed;
}

.big-circle {
  position: absolute;
  top: 0;
  bottom:  0;
  left: 0;
  right: 0;
  margin: auto;
  width: 37.5rem;
  height: 37.5rem;
  background: var(--color-big-circle);
  border-radius: 50%;
}

.small-circle {
  position: absolute;
  top: 0;
  bottom:  0;
  left: 0;
  right: 0;
  margin: auto;
  width: 27.5rem;
  height: 27.5rem;
  background: var(--color-small-circle);
  border-radius: 50%;
}

img {
  
  width: 6rem;
  height: 6rem;
  background: var(--color-small-circle);
  border-radius: 50%;
  
  z-index: 0;
}

.img-01 {
  position: absolute;
  top: 100px;
  left: 7px;
}

.img-02 {
  position: absolute;
  top: 180px;
  left: 40px;
}

.img-03 {
  position: absolute;
  top: 25px;
  left: 40px;
}

.img-04 {
  position: absolute;
  top: 20px;
  left: 120px;
}

.img-05 {
  position: absolute;
  top: 80px;
  right: 20px;
}

.img-06 {
  position: absolute;
  top: 180px;
  right: 35px;
}

.head {
  position: absolute;
  width: 13rem;
  height: 12rem;
  background: var(--color-head);
  border-radius: 68% 62% 52% 52%;

  left: 50%;
  top: 21%;
  transform: translate(-50%, 50%);

  z-index: 2;
}

.hair {
  position: relative;


}

.hair-left {
  position: absolute;
  max-width: 10rem;
  max-height: 4.5rem;
  background-color: var(--color-light-brown);
  border-radius: 50%;
  transform: rotate(35deg);
  top: 16.6rem;
  right: 38%;

  z-index: 2; 
}

  .up-hair-left {
    position: absolute;
    width: 9rem;
    height: 2.5rem;
    background-color: var(--color-light-brown);
    border-radius: 50%;
    transform: rotate(40deg);
    top: 17.5rem;
    right: 38.42%;

    border: 5px solid var(--color-light-brown);
    box-shadow: 1px 3px var(--color-dark-brown);
  
    z-index: 2;
}

.shadow-hair-left {
  position: absolute;
  width: 8rem;
  height: 2.5rem;
  background-color: var(--color-light-brown);
  border-radius: 50%;
  transform: rotate(39deg);
  top: 17rem;
  right: 39%;

  border: 3px solid var(--color-light-brown);
  box-shadow: 1px 4px var(--color-dark-brown);

  z-index: 3;
}

.hair-right {
  position: absolute;
  width: 10rem;
  height: 4.5rem;
  background-color: var(--color-light-brown);
  border-radius: 50%;
  transform: rotate(-35deg);
  top: 16.6rem;
  left: 38%;

  z-index: 2;
}

.up-hair-right {
  position: absolute;
  width:7.5rem;
  height: 2.7rem;
  background-color: var(--color-light-brown);
  border-radius: 50%;
  transform: rotate(-25deg);
  top: 17.9rem;
  right: 49%;
  border: 5px solid var(--color-light-brown);
  box-shadow: 1px 3px var(--color-dark-brown);

  z-index: 2;
}

.shadow-hair-right {
  position: absolute;
  width: 7.3rem;
  height: 2.3rem;
  background-color: var(--color-light-brown);
  border-radius: 50%;
  transform: rotate(-35deg);
  top: 17.2rem;
  right: 48.89%;

  border: 2px solid var(--color-light-brown);
  box-shadow: 1px 3px var(--color-dark-brown);

  z-index: 3;
}


.coke-left {
  position: absolute;
  background-color: var(--color-dark-brown);
  width: 4.5rem;
  height: 5.5rem;
  border-radius: 50%;
  transform: rotate(-15deg);
  top: 20.6rem;
  left: 25.2rem;

  border: 1px solid var(--color-light-brown);
  box-shadow: 1px -2px #693007d3;

  z-index: 1;
}

.shadow-coke-left {
  position: absolute;
  background-color: var(--color-dark-brown);
  width: 5rem;
  height: 4rem;
  border-radius: 50%;
  transform: rotate(-15deg);
  top: 21.2rem;
  left: 25.6rem;
  
  border: 4px solid var(--color-dark-brown);
  box-shadow: 1px -11px var(--color-light-brown);

  opacity: 0.7;

  z-index: 1;
}

.coke-right {
  position: absolute;
  background-color: var(--color-light-brown);
  width: 4.5rem;
  height: 5.5rem;
  border-radius: 50%;
  transform: rotate(15deg);
  top: 20.7rem;
  right: 25.3rem;

  z-index: 1;
}

.shadow-coke-right {
  position: absolute;
  background-color: var(--color-dark-brown);
  width: 5rem;
  height: 4rem;
  border-radius: 50%;
  transform: rotate(15deg);
  top: 21.3rem;
  right: 25.6rem;
  
  border: 3px solid var(--color-dark-brown);
  box-shadow: 1px -4px var(--color-light-brown);

  opacity: 0.7;
  z-index: 1;
}

.mouth {
  position: absolute;
  width: 2rem;
  height: 1rem;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 50%;

  box-shadow: 0 2px 0 1px var(--color-dark-brown);

  z-index: 3;
}

.eyebrown-left {
  position: absolute;
  width: 3rem;
  height: 1.5rem;
  top: 44%;
  left: 46%;
  transform: translate(-50%, -50%);
  
  border-radius: 50%;

  box-shadow: 0 -3px 0 -1px  var(--color-light-brown);

  z-index: 2;
}

.eyebrown-right {
  position: absolute;
  width: 3rem;
  height: 1.5rem;
  top: 44%;
  right: 41.3%;
  transform: translate(-50%, -50%);
  
  border-radius: 50%;

  box-shadow: 0 -3px 0 -1px var(--color-light-brown);

  z-index: 2;
}

.eye-left {
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  top: 47%;
  left: 46%;
  transform: translate(-50%, -50%);
  
  border-radius: 50%;

  box-shadow: 0 3px 0 1px var(--color-dark-brown);

  z-index: 3;
}

.eye-right {
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  top: 47%;
  right: 43.7%;
  transform: translate(-50%, -50%);
  
  border-radius: 50%;

  box-shadow: 0 3px 0 1px var(--color-dark-brown);

  z-index: 3;
}

.dress-neck {
  position: absolute;
  width: 5rem;
  height: 1.5rem;
  background-color: var(--color-dress);
  top: 57.8%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;
}

.dress-chest {
  position: absolute;
  width: 14rem;
  height: 9.4rem;
  background-color: var(--color-dress);
  top: 67.9%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 32% 32% 62% 62% / 33% 33%;
}

.dress-right {
  position: absolute;
  width: 4rem;
  height: 5rem;
  background-color:var(--color-dress);
  top: 65.7%;
  left: 53.69%;
  transform: translate(-50%, -50%);

  border-radius: 43% 43% 62% 62% / 33% 33%;

  box-shadow: -1px 0 2px #f3f3f3;
  transform: rotate(-48deg);

  z-index: 3;
}

.hand {
  position: absolute;
  width: 3rem;
  height: 4rem;
  background-color: var(--color-head);
  top: 63%;
  left: 51%;
  transform: translate(-50%, -50%);

  border-radius: 50%;

  transform: rotate(-41deg);
  z-index: 2;
}

.fingers {
  position: absolute;
  color: var(--color-dark-brown);
  font-weight: bold;
  font-size: 1.5rem;
  top: 63.1%;
  left: 51%;
  transform: translate(-50%, -50%);
  transform: rotate(-41deg);

  filter: blur(0.5px);

  z-index: 3;
}

h1 {
  position: absolute;
  color: yellow;
  font-family: 'Epilogue', sans-serif;
  font-size: 3.6rem;
  bottom: 10px;
  right: 10rem;

  animation: appear 3s linear infinite;

  opacity: 0.5;
}

@keyframes appear {
  
  0%
  {
    color: #f9fab1;
  }

  50% 
  {
    opacity: 0.1;
    filter: blur(2px)
  }

  90% 
  {
    opacity: 0.4;
  }

  100% 
  {
    opacity: 0;
  }
}







